*.xla diff=spreadsheetcompare
*.xlam diff=spreadsheetcompare
*.xls diff=spreadsheetcompare
*.xlsb diff=spreadsheetcompare
*.xlsm diff=spreadsheetcompare
*.xlsx diff=spreadsheetcompare
*.xlt diff=spreadsheetcompare
*.xltm diff=spreadsheetcompare
*.xltx diff=spreadsheetcompare